# HOSTS AND PORTS
# ON THIS VM
GATEWAY_HOST=
GATEWAY_PORT=
WEB_HOST=
WEB_PORT=

# ON THE OTHER VM
GENERATE_HOST=
GENERATE_PORT=
POSTGRES_HOST=

DELTA_SECONDS=
SECRET_KEY=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=
S3_REGION=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=